.forecastBtn{
    width: 155px;
    height: 30px;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    // text-align: center;
    justify-content: center;
    align-items: center;
    background-color: navy;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all 0.5s;
    &:hover {
        background-color: royalblue;
        transition: all 0.5s;
        box-shadow: 0px 3px 6px rgb(89, 116, 197);
        padding: 5px;
    }
    &:disabled{
        background-color: rgb(143, 143, 143);
        box-shadow: none;
        cursor: default;
    }
}

.contentWrapperBottom{
    width: 625px;
    height: 400px;
    // background-color: olivedrab;
    margin: 0 auto;
    margin-top: 25px;
    .forcastList{
        display: flex;
        justify-content: space-between;
        font-family: montserrat;
        .dayOne{
            width: 170px;
            background-color: rgb(70, 70, 70);
            border-radius: 18px;
        box-shadow: 0 6px 14px black;
        color: white;
        text-align: center;
        align-items: center;
        }
        .dayTwo{
            width: 170px;
            background-color: rgb(70, 70, 70);
            border-radius: 18px;
        box-shadow: 0 6px 14px black;
        color: white;
        text-align: center;
        align-items: center;
        
        }
        .dayThree{
            width: 170px;
            background-color: rgb(70, 70, 70);
            border-radius: 18px;
        box-shadow: 0 6px 14px black;
        color: white;
        text-align: center;
        align-items: center;
        
        }
    }
}