<div class="catBar">
    <div class="searchBar">
        <i class="fa fa-search"></i>
    </div>
    <div id="category" class="catDiv">
        <i class="fa fa-search"></i>
        <p>Categories</p>
        
            <div class="dropdown-content">
              <a id="home" onclick=catHomeSearch(id) href="#">Home</a>
              <a id="auto" onclick=catHomeSearch(id) href="#">Auto</a>
              <a id="movies" onclick=catHomeSearch(id) href="#">Movies</a>
              <a id="games" onclick=catHomeSearch(id) href="#">Games</a>
              <a id="electronics" onclick=catHomeSearch(id) href="#">Electronics</a>
              <a id="sports" onclick=catHomeSearch(id) href="#">Sports</a>
              
            </div>
        </div>
    </div>
</div>
<div class="homeWrap">
    <div id="gridWrap" class="gridWrap">
        
        
        
    </div>

</div>