<div class="loginWrap">

    <!-- Login Div -->
    <div class="loginDiv">
        <p class="header">Login</p>
        <form class="loginForm">
            <div class="inputWrap">
                <label for="email">Email</label>
                <input class="input" type="email" id="email" placeholder="Email Address">
            </div>
            <div class="inputWrap">
                <label for="pass">Password</label>
                <input class="input" type="password" id="pass" placeholder="Password">
            </div>    
            <input class="formLoginBtn" type="submit" id="submitLoginBtn" value="Login">
        </form>
    </div>

    <!-- Sign Up Div -->
    <div class="signUpDiv">
        <p>Sign Up</p>
        <form class="loginForm">
            <div class="inputWrap">
                <label for="eMail">Email</label>
                <input class="input" type="email" id="eMail" placeholder="Email Address">
            </div>
            <div class="inputWrap">
                <label for="pWord">Password</label>
                <input class="input" type="password" id="pWord" placeholder="Password">
            </div>  
            <input class="formLoginBtn" type="submit" id="submitSignUpBtn">
        </form>
    </div>
    
</div>