* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

.outputWrap {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.outputWrap .outputBtn {
  margin-top: 10px;
  font-family: montserrat;
  padding: 5px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.outputWrap .outputBtn:hover {
  background-color: #84c2db;
  transition: all 0.5s;
  padding: 5px;
}

.outputDiv {
  margin: 0 auto;
  width: 75%;
  background-color: #84c2db;
  text-align: center;
  border-radius: 16px;
  margin-top: 25px;
}
.outputDiv .info {
  font-size: 20px;
  font-family: montserrat;
}

.formDiv {
  margin: 0 auto;
  width: 200px;
  background-color: grey;
  text-align: center;
  padding: 10px;
  font-family: montserrat;
}
.formDiv .inputDiv {
  margin-top: 10px;
  font-family: montserrat;
}
.formDiv .inputBtn {
  margin-top: 10px;
  font-family: montserrat;
  padding: 5px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.formDiv .inputBtn:hover {
  background-color: #84c2db;
  transition: all 0.5s;
  padding: 5px;
}